<!--
Conor
SDEV328 AMD
quizquestions.html
-->

<include href="includes/header.html"></include>

    <form action="#" method="post">
        
        <label>Name  <input type="text" name="name" value="{{ @name }}"></label>
        <!--display error if there is one -->
        <check if="{{ isset(@errors['name']) }}">
            <p class="err">{{ @errors['name'] }}</p>
        </check>
        
        <br>
        
        <p class="ml-5">Check all that apply:</p>
    
        <repeat group="{{ @questions }}" value="{{ @question }}">
            <div class="justify-content-between">
                <input type="checkbox" class="mr-2" id="{{ @question }}" name="questions[]" value="{{ @question }}">{{ @question }}
                <label class="" for="{{ @question }}"></label>
            </div>
        </repeat>

        <!--display error if there is one -->
        <check if="{{ isset(@errors['questions']) }}">
            <span class="err">{{ @errors['questions'] }}</span>
        </check>
        
    
        <!-- submit btn -->
        <div class="pt-2 mr-5 w-100 ">
            <button class="btn btn-primary ml-5 mt-3" type="submit">Submit</button>
        </div>
        
    </form>

</body>
</html>